{{>header}}
<style>
    .container {
        max-width: 760px;
        min-width: 760px;
        -webkit-box-pack: center;
        justify-content: center;
        height: 500px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .content {
        overflow-y: auto;
        background-color: rgb(37, 37, 37);
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        flex: 0 0 728px;
        box-sizing: border-box;
        padding: 16px 24px 24px;
        z-index: 1;
    }
</style>
<div class="container my-5">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="avatar-ctn">
                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fthespiritofsaigon.net%2Favatar-vo-danh%2F&psig=AOvVaw2hypURQZZJHmexhv61D2s6&ust=1713617942434000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPiMobeqzoUDFQAAAAAdAAAAABAE"
                        class="avatar" alt="user profile picture">
                </div>
                <div id="card-body">
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="card text-center">
                <div class="card-header">
                    Profile Page
                </div>
                <div class="card-body">
                    <h5 class="card-title" id="title">

                    </h5>
                    <p class="card-text">
                        This is your profile where you can add all information about yourself
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                
            </div>
        </div>
    </div>

</div>