
{{>header}}


<style>
    .container {
        width: 70%;
        margin: 0 auto;
        padding: 96px;
        text-align: center;

    }
</style>
<div class="container">
    <div class="title1" style="font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #067647;
    margin-bottom: 20px">Giới thiệu
    </div>
    <div class="title2" style="    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: #101828;
    margin-bottom: 20px;">
        Lời giới thiệu
    </div>
    <div class="introduction-des" style="    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #475467;
    margin-bottom: 20px;
    text-align: center;">
        <p>LiciensePlate auction là một Tổ chức hoạt động chuyên nghiệp
            trong lĩnh vực dịch vụ tư vấn, tổ chức đấu giá tài sản, quyền tài sản, vật tư, thiết bị, hàng hóa và các
            dịch vụ khác liên quan đến đấu giá tài sản. Công ty Đấu giá hợp danh Việt Nam được nhiều Cơ quan, Tập đoàn,
            doanh nghiệp, đơn vị, tổ chức tin cậy, ký hợp đồng bán đấu giá tài sản, trong đó nhiều hợp đồng với tài sản
            có giá trị lớn, có tính chất phức tạp. Chúng tôi luôn nỗ lực không ngừng nghỉ, với mục tiêu luôn là tổ chức
            đấu giá tài sản thuộc hàng đầu tại Việt Nam. “Chuyên nghiệp, tin cậy, đặt quyền lợi của khách hàng lên trên
            quyền lợi của Công ty” là phương châm hoạt động của chúng tôi khi hợp tác cùng Quý khách hàng. Chúng tôi cam
            kết mang đến cho Quý khách hàng dịch vụ chuyên nghiệp, chất lượng và hiệu quả tối ưu trong lĩnh vực đấu giá
            tài sản.</p>
    </div>
</div>